<div class="row">
    <div class="card col-md-6 offset-md-3 offset-md-3">
        <div class="row">
            <h2 class="text-center"> Extend Product Warranty </h2>
            
            <div class="card-body">
                <form (ngSubmit)="onSubmit()">

                    <div class="form-group">
                        <label>ModelNumber</label>
                        <input type="text" class="form-control" id="modelNumber" [(ngModel)]="modelNumber"
                            name="firstName">
                    </div>

                    <div class="form-group">
                        <label> WarrentyYears</label>
                        <input type="number" class="form-control" id="warrentyYears" [(ngModel)]="warrentyYears"
                            name="lastName">
                    </div>
                    <br />
                    <button class="btn btn-success" type="submit">Submit</button>

                </form>

                <div>
                    <p *ngIf='message != null' [ngClass]='msgClass' (click)='goToProductList()'>
                        {{message}}! Click to go back
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

